html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
}

.underline {
  width: 10%;
  border-bottom: 4px solid rgb(218, 165, 32);
  border-radius: 4px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  align-items: center;
  width: 85%;
}

.item-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(218, 165, 32, 0.5);
}

.item-title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

img {
  width: 200px;
  height: 150px;
  border: 4px solid rgb(218, 165, 32);
  border-radius: 0.6rem;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-price {
  color: rgb(218, 165, 32);
  font-size: 1.2rem;
  padding-top: 2px;
  font-weight: 600;
}

.item-desc {
  font-size: 0.8rem;
  text-align: justify;
  padding-top: 15px;
}

.right-desc {
  padding-right: 10px;
}

.filter-btn {
  background-color: white;
  border: 2px solid rgb(218, 165, 32);
  border-radius: 5px;
  color: rgb(218, 165, 32);
  padding: 7px 12px;
  letter-spacing: 2px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}

.filter-btn:hover {
  background-color: rgb(218, 165, 32);
  color: white;
}
